
{% extends "base/base_template.html" %}
{% load static %}


          {% block element_nav %}
            <li class="nav-item">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Compras
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
          <li class="nav-item ">
            <a href="{% url 'create_compras' %}" class="nav-link">
              <i class="nav-icon fas fa-plus"></i>
              <p class="text">Insertar Compra</p>
            </a>
          </li>
            </ul>
            </li>
  
            <li class="nav-item">
              <a href="{% url 'vales_venta_list' %}" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p class="text"> Vales Ventas</p>
              </a>
            </li>

          <li class="nav-item">
            <a href="{% url 'elementos_list' %}" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p class="text">Productos</p>
            </a>
          </li>

          {% endblock element_nav %}

          {% block hubicacion %}
                Compras
          {% endblock hubicacion%}

          {% block encabezado %}

              Listado de Compras

          {% endblock encabezado %}

          {% block cabeceras_tabla %}
              <th style="width: 1%">
                          #
              </th>
              <th style="width: 20%">
                  Fecha
              </th>
              <th style="width: 30%">
                  Tipo
              </th>
              <th>
                  Cantidad
              </th>

              <th style="width: 20%">

              </th>

          {% endblock cabeceras_tabla %}



          {% block valores_tabla %}
              {% for object in object_list %}
              <tr>

              <td>
                {{ forloop.counter }}
              </td>

              <td>
                   <a>
                       {{object.elemento}}                   </a>
              </td>

              <td>
                  <a>

                    {{ object.fecha_compra | date:"d-m-Y" }}                   </a>
              </td>

              <td >
                    {{ object.cantidad }}
              </td>


              <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="{% url 'compras_list' %}">
                              <i class="fas fa-folder">
                              </i>
                              Detalles
                          </a>
                          <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Editar
                          </a>
                          <a class="btn btn-danger btn-sm" href="{% url 'compras_delete' object.pk %}">
                              <i class="fas fa-trash">
                              </i>
                              Eliminar
                          </a>
              </td>

              </tr>
              {% endfor %}

          {% endblock valores_tabla %}
