
{% extends "base/base_create_template.html" %}
{% load static %}

        {% block element_nav %}

        {% endblock element_nav %}

        {% block hubicacion %}

            Nuevo Elemento

        {% endblock hubicacion%}

        {% block formulario %}

<form method="post">
    {% csrf_token %}
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Cantidad Comprada</label>
                    <input type="number" class="form-control" name="cantidad" placeholder="Cantidad Comprada...">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Elemento</label>
                    <select class="form-control select2" style="width: 100%;" name="elemento">
                        <option selected="selected"></option>
                        {% for elemeto in elemetos %}
                            <option>{{ elemeto }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="submit" class="btn btn-success">Aceptar</button>
        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'compras_list' %}'">Cancelar</button>
    </div>
</form>
        {% endblock formulario %}
