
{% extends "base/base_template.html" %}
{% load static %}


          {% block element_nav %}
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
              <p>
                Ventas
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            <li class="nav-item ">
             <a href="{% url 'create_venta' vale_venta_id %}" class="nav-link">
                <i class="nav-icon fas fa-plus"></i>
                <p class="text">Insertar Venta</p>
              </a>
            </li>


            </ul>
          </li>

          <li class="nav-item">
            <a href="{% url 'vales_compra_list' %}" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p class="text">Compras</p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'elementos_list' %}" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p class="text">Productos</p>
            </a>
          </li>

          {% endblock element_nav %}

          {% block hubicacion %}
                Ventas
          {% endblock hubicacion%}

          {% block encabezado %}
              Listado de Ventas
          {% endblock encabezado %}

          {% block cabeceras_tabla %}
              <th style="width: 1%">
                          #
              </th>
              <th style="width: 20%">
                  Fecha
              </th>
              <th style="width: 20%">
                  Elemento
              </th>
              <th style="width: 20%">
                Cantidad
              </th>
              <th style="width: 8%" class="text-center">
                  Ganancia
              </th>
              <th style="width: 20%">

              </th>

          {% endblock cabeceras_tabla %}



          {% block valores_tabla %}
          {% for venta in ventas %}
          <tr>

          <td>
            {{ forloop.counter }}
          </td>

          <td>
               <a>
                {{ venta.fecha_venta | date:"d-m-Y" }}                   </a>
          </td>

          <td>
              <a>

                {{ venta.elemento }}                   </a>
          </td>

          <td >
                {{ venta.cantidad }}
          </td>
          <td >
            {{ venta.ganancia }}
          </td>


          <td class="project-actions text-right">
                      <a class="btn btn-primary btn-sm" href="#">
                          <i class="fas fa-folder">
                          </i>
                          Detalles
                      </a>
                      <a class="btn btn-info btn-sm" href="#">
                          <i class="fas fa-pencil-alt">
                          </i>
                          Editar
                      </a>
                      <a class="btn btn-danger btn-sm" href="">
                          <i class="fas fa-trash">
                          </i>
                          Eliminar
                      </a>
          </td>

          </tr>
          {% endfor %}

          {% endblock valores_tabla %}
