
{% extends "base/base_create_template.html" %}
{% load static %}

        {% block element_nav %}

        {% endblock element_nav %}

        {% block hubicacion %}

            Detalles Elemento

        {% endblock hubicacion%}

{% block formulario %}
<form method="post">
    {% csrf_token %}
    <div class="card-body">
        <div class="form-group">
            <label for="id_nombre">Nombre Producto</label>
            <input type="text" class="form-control" id="id_nombre" name="nombre" value="{{ object.nombre }}" readonly>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Precio Compra</label>
            <input type="text" class="form-control" id="id_nombre" name="compra" value="{{ object.precio_compra }}" readonly>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Precio Venta</label>
                    <input type="text" class="form-control" name="precio_venta" value="{{ object.precio_venta }}" readonly >
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="button" class="btn btn-info" onclick="location.href='{% url 'elementos_list' %}'">Volver</button>
    </div>
</form>
        {% endblock formulario %}
